<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RT.Properties.Settings.rtConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\rt.accdb"
            providerName="System.Data.OleDb" />
        <add name="RT.Properties.Settings.UsersDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\UsersDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>